td, th {
  vertical-align: top;
  padding: 8px;
}
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
th {
  background-color: #aaaaaa;
}
td {
  background-color: #ddd;
}
